<div class="row">
    <div class="col">
        <form>
            <div class="row">
                <h2>Register</h2>
            </div>
            <div class="row" [formGroup]="registrationForm">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Frist Name</mat-label>
                        <input matInput formControlName="firstName" required value="">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" required value="">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email Address</mat-label>
                        <input matInput formControlName="email" required value="">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" required value="">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword" required value="">
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!registrationForm.valid"
                        (click)="submitRegistrationForm()">Send</button>
                    <button mat-raised-button color="warn" (click)="clearRegistrationForm()">Reset</button>
                    <button mat-raised-button color="primary" (click)="routeToLogin()">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>